

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'techMono';
    src: url('../fonts/ShareTechMono-Regular.ttf') format('truetype');
}

body {
    font-family: 'techMono';
    font-weight: normal;
}

